html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Sacramento', cursive;
}

nav {
  position: relative;
  z-index: 1;
  font-family: 'Sacramento', cursive;
  font-size: 30px;
  color: #ffdd99;
}

.navbar {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.welcome {
  z-index: 1;
  position: relative;
  padding-top: 40px;
  font-size: 14px;
}

.start {
  z-index: 1;
  position: relative;
  font-family: 'Sacramento', cursive;
}

.footer {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  font-family: 'Sacramento', cursive;
  color: #ffffb3;
}